name: Build CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build Android APK
      run: ./gradlew :app:assembleDebug --stacktrace
      
    - name: Upload Android APK
      uses: actions/upload-artifact@v4
      with:
        name: NovaClient-Android-Debug
        path: app/build/outputs/apk/debug/*.apk
        retention-days: 90
